/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.button {
  margin: 8px 0;
}

.card-wrapper
{
  max-width: 800px;
  padding: 20px;
}

.example-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.form-wrapper > * {
  width: 100%;
}

.main-button {
  font-size: 16px;
  margin: 8px 0;
}

.label {
  color: rgba(0,0,0,.54);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  padding: 8px 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-wrapper{
  padding-top: 12px;
}

.mat-list-item-content{
  width: 100%;
}
