<div class="page-wrapper">
  <mat-card class="card-wrapper">

    <mat-toolbar>View note {{note.title}}</mat-toolbar>
    <div class="form-wrapper">

      <mat-form-field>
        <input matInput type="text" disabled="disabled" [(ngModel)]="note.title"  placeholder="Name">
      </mat-form-field>

      <div class="label">Content</div>
      <app-ngx-editor [config]="editorConfig" [(ngModel)]="htmlContent"></app-ngx-editor>

      <mat-form-field class="select-wrapper">
        <mat-select [(ngModel)]="note.selectedDatespan" [placeholder]="'Expired in'" disabled="disabled">
          <mat-option *ngFor="let datespan of datespans" [value]="datespan.value">
            {{ datespan.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" disabled="disabled" [ngModel]="note.createDate | date:'MM/dd/yyyy HH:mm'"  placeholder="Created date">
      </mat-form-field>
    </div>

    <button mat-button class="button" routerLink='/edit/{{id}}'>
      Edit
    </button>
    <button mat-button class="button" (click)="Back()">
      Back
    </button>
  </mat-card>
</div>
