/*.button {*/
  /*margin: 8px 0;*/
/*}*/

/*.card-wrapper*/
/*{*/
  /*max-width: 800px;*/
  /*padding: 20px;*/
/*}*/

/*.example-wrapper {*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*max-width: 800px;*/
  /*min-width: 600px;*/
/*}*/

/*.form-wrapper > * {*/
  /*width: 100%;*/
/*}*/

/*.header-wrapper {*/
  /*padding: 30px 30px 0 30px;*/
  /*font-weight: 600;*/
/*}*/

/*.label {*/
  /*color: rgba(0,0,0,.54);*/
  /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
  /*font-weight: 400;*/
  /*padding: 8px 0;*/
/*}*/

/*.list-item {*/
  /*text-align: left;*/
/*}*/

/*.page-wrapper {*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
/*}*/

/*.select-wrapper{*/
   /*padding-top: 12px;*/
/*}*/
