<div class="page-wrapper">
  <mat-card class="card-wrapper">
    <mat-toolbar>Notes</mat-toolbar>
    <mat-card *ngIf="!showList">Nothing there</mat-card>
    <button *ngIf="showList" mat-button class="main-button" routerLink='/new'>
      Create new note
    </button>

    <div *ngIf="showList" class="form-wrapper">

      <div class="header-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <span class="header-item" fxFlex="70%">Title</span>
        <span class="header-item" fxFlex="30%">Expired in</span>
      </div>

      <mat-list *ngFor="let note of notes" fxLayout="row" fxLayoutAlign="start start">
        <button mat-button routerLink='/view/{{note.id}}' fxFlex="100%">
          <mat-list-item fxLayout="row"  fxLayoutAlign="start start" >
            <span class="list-item" fxFlex="70%">{{note.title}}</span>
            <span class="list-item" *ngIf="note.neverExpired === false" fxFlex="30%">{{note.actualDate | date:"dd/MM/yyyy HH:mm"}}</span>
            <span class="list-item" *ngIf="note.neverExpired" fxFlex="30%">Never expired</span>
          </mat-list-item>
        </button>
      </mat-list>

    </div>
  </mat-card>
</div>
